body {
    background: rgb(234, 203, 219);
    color: #c9d8f9
    padding: 10px;
    font-family: 'times new roman';
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(193, 192, 248, 0.823);
    border-radius: 30px;
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: #c9d8f9
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
    color:#c9d8f9
}
.nav-li {
    display: flex;
    padding: 0 10px;
    color:#c9d8f9
}
a {
    text-decoration: none;
    color: #c9d8f9;
}

/* main container area beneath menu */
main {
    background: rgba(193, 192, 248, 0.823);
    border-radius: 30px;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgba(192, 192, 192, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

