body { 
    background: rgb(234, 203, 219);
    padding: 10px;
    color: #c9d8f9
    font-family arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(193, 192, 248, 0.823);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(229, 194, 240);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #c9d8f9;
}

/* main container area beneath menu */
main {
    background: rgba(193, 192, 248, 0.823);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgba(232, 177, 236, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}