body {
  margin:0px;
  margin-top: 5%;
margin-left: 14%;
}

canvas {
  background-image: url("https://getwallpapers.com/wallpaper/full/8/7/c/1322520-techy-background-1920x1200-for-mac.jpg");
  background-size: cover;
}

img {
  display: none;
}

